<div class="booyah-box col-10 offset-1">
  <h1>Enter your place details </h1>
    <%= simple_form_for @place do |f| %>
    <%= f.input :name %>
    <%= f.input :address%>
    <%= f.input :description%>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <%end%>

  <%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
  <%= f.input :caption %>
  <%= f.input :picture %>
  <%= f.submit "Add a Photo", class: 'btn btn-primary' %>
<% end %>

</div>
